h1,
h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #AC52AA;
}

body,
button,
input,
select,
p,
textarea {
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 21px;
    line-height: 32px;
}

.copy-code-button {
    font-size: 0.6em;
    border: 0.5px solid;
    padding: 0px 3px;
    border-radius: 3px 3px 0px 0px;
}

h1.title {
    font-size: 40px;
}

.content h1 {
    font-size: 36px;
}

.content h2
{
    font-size: 32px;
}

.content h3 {
    font-size: 26px;
}

#powered-by {
    font-size: 18px;
}

.content h1 code, .content h2 code, .content h3 code, .content h4 code, .content h5 code, .content h6 code {
    background-color: inherit;
}
